body {
	padding-top: 60px; 
}

#profile-image {
	margin-top: 5px;
}

.large-caret {
	border-top: 16px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#user-panel {
	font-size: 14px;
	color: #999;
}

.up-item a {
	font-size: 14px;
	padding: 0px !important;
}

.navbar .nav li a {
	padding: 20px 15px 20px;
}

#content {
	margin-top: 20px;
}

article {
	margin-right: 5%;
}
#maincontainer {
	padding-right: 0px;
}

#searchspan {

	border-bottom: 2px solid black;
	border-left: 2px solid black;
	padding: 10px 20px 10px 20px;
}

.clearfloats {
	clear: both;
}

#catfilter {
	border: 2px solid black;
	padding: 10px;
	margin-top: 20px;
}

.article {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
}

.article img {
	float: left;
	height: 80px;
	width: 80px;
	padding-right: 20px;
}

.article .title {
	font-size: 16px;
}

.article .tagline {
	font-size: 12px;
}

#thumbnail {
	margin-top: 40px;
}

#thumbnail img{
	padding-bottom: 50px;
	display: block;
	width: 80px;
	height: 80px;
}