body {
	padding-top: 64px; 
}

h1 {
	line-height: 40px;
	font-size: 2.25em;
} 

h2, h3 {
	line-height: 25px;
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

#content {
	margin-top: 20px;
}

article {
	margin-right: 5%;
}

#maincontainer {
	padding-right: 0px;
}

#searchspan {

	border-bottom: 2px solid black;
	border-left: 2px solid black;
	padding: 10px 20px 10px 20px;
}

.clearfloats {
	clear: both;
}

#catfilter {
	border: 2px solid black;
	padding: 10px;
	margin-top: 20px;
}

.article {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 10px;
	height: 80px;
}

.article img {
	float: left;
	height: 80px;
	width: 80px;
	padding-right: 20px;
}

.article .title {
	font-size: 16px;
}

.article .tagline {
	font-size: 12px;
}

#thumbnail {
	margin-top: 40px;
}

#thumbnail img{
	padding-bottom: 50px;
	display: block;
	width: 80px;
	height: 80px;
}

.friend-feed {
	margin: 10px 0;
	overflow: hidden;
}

.friend-feed > a > img {
	margin: 10px;
}

.friend-feed > h3 {
	font-weight: normal;
}

.user {
	font-weight: bold;
}

.user:hover {
	text-decoration: none;
}

.friends-and-services {
	/*border-radius: 15px;*/
	/*border: 2px solid black;*/
	margin: 5%;
	padding: 4%;
	overflow: hidden;
}

.friends-and-services {
	margin-bottom: 5% !important;
}

.friends-and-services > h4 {
	clear: both;
	font-weight: normal;
}

.friends-and-services, .thumb-container{
	overflow: hidden;
}

.friends-and-services img  {
	float: left;
	margin: 0 5px;
}

.friend-activity img, .relevant > li > img {
	left: 0;
}

.friend-activity > li > div, .relevant > li > div {
	font-size: 10px !important;
	line-height: 105%;
	white-space: normal !important;
	/*overflow: hidden;*/
}

.relevant > li > h4 {
	font-size: 12px !important;
	margin: 0;
}

.relevant {
	padding-top: 5%;
}

/*****

Banner

******/

.large-omni {
	/* TODO: This should be javascript that figures out the width of the page and fills it */
	/*this is currently used to resize on mouseover/focus events*/
	width: 400px;
}

.up-item a {
	font-size: 14px;
	padding: 0px !important;
}

.navbar .nav li a {
	padding: 20px 15px 20px;
}

#omnibar {
	margin-top: 10px;
}

/*****

User Profile Box

******/

#profile-image {
	margin-top: 5px;
}

.large-caret {
	border-top: 16px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#user-panel {
	font-size: 14px;
	color: #999;
}